API_KEY=""

DEVICE="desktop"
BROWSER="chrome"
OS=""

MACHINE=""
PROJECT=""
BRANCH=""
LANGUAGE=""
FILE_PATH=""
CURSOR=""
LINES=""
PLUGIN="vscode/1.92.2 vscode-wakatime/24.6.0"

INTERVAL="100000"

WORK_MIN="20"
WORK_MAX="30"
PAUSE_MIN="5"
PAUSE_MAX="15"
